
section {
    max-width: 940px;
    margin: 0 auto 48px;
  }

  h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  @media (width <= 700px) {
    section {
      margin-bottom: 40px;
    }
  }

#summary {
    .summary-text {
        font-size: 16px;
        color: #101010;
    }
}

#experience {
    #work_list {
        display: flex;
        flex-direction: column;
        gap: 38px;

        article h2 {
            font-weight: 500;
            color: #111;
            font-size: 20px;
            margin-bottom: 4px;
        }

        article a {
            color: #111;
        }

        article a:hover {
            text-decoration: underline;
        }

        article h5 {
            color: #222;
            font-weight: 600;
            font-size: 18px;
            line-height: normal;
        }

        article p {
            color: #101010;
            font-size: 16px;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 4px;
        }

        .work-info{
            text-align: right;
            color:#555;
            p {
                font-size: 12px;
            }
        }

        time {
            font-size: 0.85rem;
            min-width: 102px;
        }

        #work_highlights {
            padding-left: 18px;
            list-style-type: disc;
            margin: 8px auto 4px 0px;
            color: #333;

            li {
                display: list-item;
                margin-bottom: 4px;
                line-height: normal;
                font-size: 14px;
                color: #333;
            }
        }

    }

    @media (width <=700px) {
        time {
            text-align: right;
        }
    }
}